body{
    font-family: 'Ubuntu', sans-serif;
    
}

.stylelink{
    color: #37318a !important ;
    margin-bottom: 0;
    font-size: 25px;
}

.stylelink:hover{
    color: #e53321 !important ;
    transition: 200ms; 
}

.ativado a{
    color: #e53321 ;
}

.midiasf1 a img{
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}

.direitos{
    text-align: center;
}

.local{
    text-align: center;
}

.local div p{
    font-size: 18px;
}

.titulo{
    border-bottom: 1px solid #e53321;
    border-bottom-width: 1px;
    font-size: 35px;
    margin-bottom: 5px;
}

.form{
    text-align: center
}

.form-group label{
    font-size: 22px;
}

.psobre{
    text-align: justify;
}

.imgLoja{
    box-shadow: 0 2px 4px 0 #333;
    border-radius: 0.5%;
}

.radius img{
    border-radius: 10px;
}

.imgrev {
    height: 200px;
}
/*Local*/
.location{
    height: 30px;
}

.btnl{
    height: 60px;
    width: 210px;
    background-color: #37318a !important;
}

.textone{
    font-size: 13px;
    color: white;
}

.btnmodal{
    background-color: #e53321 !important;
}

.iframeajuste{
    width: 468px;
}

@media (max-width: 505px){
    .iframeajuste{
        width: 300px;
    }
    .btnl{
        height: 60px;
        width: 200px;
    }
}
@media (max-width: 380px){
    .iframeajuste{
        width: 200px;
    }
}
/*Footer*/
.footer-bs {
    background-color:#f4f5f7;
	padding: 60px 40px;
    color: #37318a;
    font-size: 25px;
	border-top-left-radius: 0px;
}
/*Social Buttons*/

.urso{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
    }
    .urso li{
    list-style: none;
    margin: 0 40px;
    
    }
    .urso li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
    }
    .urso li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
    }
    .urso li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
    }
    .urso li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
    }
    .urso li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .urso li:hover .fa{
    color: #fff;
    }
    .urso li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .urso li:hover:nth-child(1) a{
    background: #3b5999;
    }
    
    .urso li:hover:nth-child(1) a:before{
    background: #2e4a86;
    }
    .urso li:hover:nth-child(1) a:after{
    background: #4a69ad;
    }
    
    .urso li:hover:nth-child(2) a{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    
    .urso li:hover:nth-child(2) a:before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    .urso li:hover:nth-child(2) a:after{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }

    /* Social Buttons SmartPhones */

    .gato {
        width: 80%;
        box-sizing: border-box;
        text-align: center;
    }
    .gato h1 {
        font-size: 48px;
        text-transform: uppercase;
    }
    .gato ul {
        margin: 0;
        padding: 0;
    }
    .gato ul li {
        list-style: none;
        float: left;
        width: calc(100% / 8);
        box-sizing: border-box;
    }
    .gato ul li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #fff;
    }
    .gato ul li a .fa {
        font-size: 40px;
        transition: .5s;
    }
    .gato ul li a:hover .fa {
        transform: rotateY(360deg);
    }
    .gato ul li:nth-child(1) a {
        background: #3b5999;
    }
    .gato ul li:nth-child(2) a {
        background: #c13929;
    }
    .gato ul li:nth-child(3) a{
        background: #34d36c;
    }

    /* Form Contato */

    .contact-form{
        background: #fff;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 70%;
    }
    .contact-form .form-control{
        border-radius:1rem;
    }
    .contact-image{
        text-align: center;
    }
    .contact-image img{
        border-radius: 6rem;
        width: 11%;
        margin-top: -2%;
        transform: rotate(0deg);
    }
    .contact-form form{
        padding: 14%;
    }
    .contact-form form .row{
        margin-bottom: -7%;
    }
    .contact-form h3{
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: white;
    }
    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #dc3545;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
    .btnContactSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }
    .contatocontainer{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    @media (max-width: 992px) {
        .gato h1 {font-size: 30px;}
        .gato ul li {width: calc(100% / 4);}
    }
    
    @media (max-width: 768px) {
        .gato {width: 100%;}
    }
    
    @media (max-width: 480px) {
        .gato {margin: 20px auto;}
        .gato ul li {width: calc(100% / 2);}
    }
    @media (max-width: 480px) {
        .gato {margin: 0 auto;}
        .gato ul li {width: calc(100% / 1);}
    }


.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:#37318a; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}